/* Site Styles Go Here */

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-item-flex {
    flex: 0 1 auto;
}

.zoom {
    transition: transform .5s;
    /* Animation */
}

.zoom:hover {
    transform: scale(0.95);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: var(--blue);
}

.dissolve {
    
}